.main {
    background-image: url(" https://d2clawv67efefq.cloudfront.net/ccbp-static-website/todolistbg.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    color: White;
    text-align: center;
    font-family: Roboto;
    padding: 0px;

}

.card {
    text-align: center;

}

.para {
    text-align: center;
}

.button {
    background-color: orange;
    color: white;
    font-size: 15px;
    padding: 5px;
    width: 60px;
    font-family: Roboto;

}

.bar {
    text-decoration: underline;
}

.abc {
    height: 500px;
}